<form [formGroup]="seatForm" (ngSubmit)="Change()">
    <mat-form-field appearance="fill">
        <mat-label>Name</mat-label>
        <input matInput [formControlName]="'name'">
    </mat-form-field>
    <mat-form-field appearance="fill">
        <mat-label>Category</mat-label>
        <input matInput [formControlName]="'category'">
    </mat-form-field>
    <mat-form-field appearance="fill">
        <mat-label>Price</mat-label>
        <input matInput type="number" [formControlName]="'price'">
        <span matPrefix>€&nbsp;</span>
    </mat-form-field>
    <mat-form-field appearance="fill">
        <mat-label>Discount</mat-label>
        <input matInput type="number" [formControlName]="'discount'" [min]="0" [max]="100">
        <span matSuffix>%</span>
        <mat-error *ngIf="seatForm.controls['discount'].hasError('required')">
            Discount is <strong>required</strong>
        </mat-error>
    </mat-form-field>
    <div class="row">
        <div class="col-md-5">
            <button type="button" mat-raised-button color="warn" (click)="Cancel(0)">Cancel</button>
        </div>
        <div class="col-md-5">
            <button type="submit" mat-raised-button color="primary" [disabled]="!seatForm.valid">Save</button>
        </div>
    </div>
</form>