<div class="row">
    <button mat-icon-button color="accent" aria-label="one star" (mouseover)="hover(1)" (click)="rate(1)">
        <mat-icon>{{star1}}</mat-icon>
    </button>
    <button mat-icon-button color="accent" aria-label="two stars" (mouseover)="hover(2)" (click)="rate(2)">
        <mat-icon>{{star2}}</mat-icon>
    </button>
    <button mat-icon-button color="accent" aria-label="three stars" (mouseover)="hover(3)" (click)="rate(3)">
        <mat-icon>{{star3}}</mat-icon>
    </button>
    <button mat-icon-button color="accent" aria-label="four stars" (mouseover)="hover(4)" (click)="rate(4)">
        <mat-icon>{{star4}}</mat-icon>
    </button>
    <button mat-icon-button color="accent" aria-label="five stars" (mouseover)="hover(5)" (click)="rate(5)">
        <mat-icon>{{star5}}</mat-icon>
    </button>
</div>
