<div class="col-lg-12 seat-container" >
  <div  *ngFor="let seatrow of seatmap " >
      <div class="col-12 pricing-label" *ngIf="seatChartConfig?.showRowWisePricing && seatrow.seatPricingInformation != ''">{{seatrow.seatPricingInformation}}</div>
      <div class="seatrow container">
          <div *ngIf="seatChartConfig?.showRowsLabel">
              <div class="row-label" >  {{seatrow.seatRowLabel}} </div>
          </div>
          <div *ngFor="let seatobj of seatrow.seats">
              <div class="seat-item seat-space" style="color:white ; background-color:white" *ngIf="seatobj.seatLabel == ''">  &nbsp; </div>
              <div tooltip="Seat : {{seatobj.seatLabel}} | Price : {{seatobj.price | currency : 'EUR'}}" placement="top"
              [ngClass]="{ 'seat-item' : true , 'seat-available' : seatobj.status == 'available' ,'seat-booked' : seatobj.status == 'booked' ,'seat-unavailable' : seatobj.status == 'unavailable', 'seat-sale': seatobj.status == 'sale' }" 
                (click)="selectSeat(seatobj)" *ngIf="(seatobj.status == 'available' || seatobj.status == 'booked' || seatobj.status === 'sale')&& seatobj.seatLabel != ''" style="text-align: center">{{seatobj.seatNo}}</div>
                
              <div tooltip="Seat not available" placement="top"
              [ngClass]="{ 'seat-item' : true , 'seat-unavailable' : true }" 
              *ngIf="seatobj.status == 'unavailable' && seatobj.seatLabel != ''">{{seatobj.seatNo}}</div>
          </div>
      </div>
  </div>
</div>

<div  class="container" *ngIf="!admin">
  <div class="col-lg-12 summary-bar">
      <div class="col-lg-4" >
              <div>
                <div class="mat-h4">
                  Total Selected : {{ cart?.selectedSeats?.length }}
                </div>
                <div class="mat-h4">
                  Total Amount :&nbsp;&nbsp; {{cart.totalamount | currency: "EUR"}}
                </div>
              </div>
      </div>
  </div>
</div>
