<div class="row">
    <div class="col-md-12">
        <mat-accordion>
            <mat-expansion-panel [expanded]="true">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        <mat-icon>filter_list</mat-icon>
                    </mat-panel-title>
                    <mat-panel-description>
                        {{origin}} - {{destination}}
                    </mat-panel-description>
                </mat-expansion-panel-header>
                <form [formGroup]="filterForm">
                    <div class="row">
                        <div class="col-md-4 text-center">
                        <mat-form-field appearance="fill">
                            <mat-label>From</mat-label>
                            <input matInput [matAutocomplete]="auto1" formControlName= 'origin'>
                            <mat-icon matSuffix>flight_takeoff</mat-icon> 
                            <mat-autocomplete autoActiveFirstOption #auto1="matAutocomplete">
                            <mat-option *ngFor="let city of filteredOptionsOrigin | async" [value]="city">
                                {{city}}
                            </mat-option>
                            </mat-autocomplete>
                        </mat-form-field>
                        </div>
                        <div class="col-md-4 text-center">
                        <mat-form-field appearance="fill">
                            <mat-label>To</mat-label>
                            <input matInput [matAutocomplete]="auto2" formControlName= 'destination'>
                            <mat-icon matSuffix>flight_land</mat-icon>
                            <mat-autocomplete autoActiveFirstOption #auto2="matAutocomplete">
                            <mat-option *ngFor="let city of filteredOptionsDestination | async" [value]="city">
                                {{city}}
                            </mat-option>
                            </mat-autocomplete>
                        </mat-form-field>
                        </div>
                        <div class="col-md-4 text-center">
                        <mat-form-field appearance="fill">
                            <mat-label>Choose a departure date</mat-label>
                            <input matInput [matDatepicker]="picker1" [min]="minDateDep" formControlName= 'departure'>
                            <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                            <mat-datepicker #picker1></mat-datepicker>
                        </mat-form-field>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4 text-center">
                            <mat-form-field  appearance="fill" style="width: 225px;">
                            <mat-label>Sort by</mat-label>
                            <mat-select  formControlName= 'sortBy'>
                                <mat-option [value]="'price'" selected="true">
                                Price
                                </mat-option>
                                <mat-option [value]="'duration'">
                                Duration
                                </mat-option>
                                <mat-option [value]="'conCount'">
                                Number of connections
                                </mat-option>
                            </mat-select>
                            </mat-form-field>
                        </div>
                        <div class="col-md-4" style="text-align: center;margin-top: 15px;">
                            <div>
                                <mat-slide-toggle [color]="'Accent'"  formControlName= 'sortWay'>
                                    <p *ngIf="!sortWay" style="margin-top: 10px;">Increasing</p>
                                    <p *ngIf="sortWay" style="margin-top: 10px;">Declining</p>
                                    </mat-slide-toggle>
                            </div>
                        </div>
                        <div class="col-md-4" style="text-align: center;">
                            <div>
                                <button type="reset" mat-raised-button color="accent">Reset</button>
                            </div>
                        </div>
                    </div>
                </form>
            </mat-expansion-panel>
        </mat-accordion>
          
        <br/>
        <br/>

        <mat-list>
            <div  *ngFor="let flight of flights| 
                filter:origin:'origin':false |  
                filter:destination:'destination':false | 
                orderBy:sortBy:sortWay:false |
                dateFilter: departure:false">
                <app-flight
                [flight]="flight"
                [back]="'three'"
                [admin]="admin"></app-flight>
                <br/>
                <mat-divider></mat-divider>
                <br/>        
            </div>
        </mat-list> 
    </div>
</div>