<a class="list-group-item clearfix"
 style="cursor: pointer"
 [routerLink]="['../', index, 'details']"
 routerLinkActive="active">
    <!-- <div>
        <h4 class="list-group-item-heading">{{ rentACar.name }}</h4>
        <p class="list-group-item-text">{{ rentACar.address }}</p>
    </div> -->
    <div class="row">
        <div class="col-md-5">
            <h3>{{ rentACar.name }}</h3>
        </div>
        <div class="col-md-6">
            <span *ngFor="let location of rentACar.locations; let isLast = last; let i = index">
                {{ location }}{{ isLast ? '' : ', ' }}
                <br *ngIf="(i + 1) % 3 === 0">
            </span>
        </div>
        <div class="col-md-1">
            <h3>{{ rentACar.rating }}</h3>
        </div>
    </div>
</a>